<html>
    <head>
        <title>Afrihost Code Camp :: Forgot Password</title>
    </head>
    <body>
        <p>
            Hi {{ first_name }},
            <br />
            <br />
            Welcome to the Afrihost Code Camp, and congratulations on taking the first step to leveling up your development skills!
            <br />
            <br />
            Your login details for the <a href="http://afrihostcodecamp.com" target="_blank">Code Camp website</a> have been attached below.
            <br />
            <br />
            We encourage you to log in, and rsvp for the upcoming talks our Dev Ninjas have prepared for you.
            <br />
            <br />
        </p>
        <p>
            <strong>Username:</strong> {{ username }}
            <br />
            <strong>Password:</strong> {{ password }}
        </p>
        <p>
            Kthnxbye,
            <br />
            The Internet
        </p>
    </body>
</html>